/*body*/
header, nav, footer, article, section, aside {display:block;}
body {font-family:"times new roman", times, serif; color:black; background:lightgray; max-width:960px;}
h1, h2 {text-align:center; color:slateblue;}
h3, h4 {color:slateblue;}
strong {font-weight:bold;}
em {font-style:italic;}

/*header*/
header {border-radius:30px; background:lightblue;}
header div {text-align:center; font-weight:bold; font-style:italic;}
header h2 {text-align:center; color:black;}
header img {display:block; margin-left:auto; margin-right:auto; border:none; height:67px; width:593px;}

/*nav sidebar*/
nav {font-family:Verdana, Arial, sans-serif; float:left; width:20%;  margin-right:10px;}
nav ul, ul li, ul ul {margin:0; padding:0;}
nav ul {margin:5px 5px; width:100%; border-top:thin solid black;}
nav ul ul {border:none;}
nav li {list-style:none; border-bottom:thin solid black;}
nav ul li a {display:block; padding:4px 0; text-decoration:none;}
nav ul ul li {padding-left:20px; border:none;}
nav a:hover,a:focus,a:active {background-color:white;}
img#pensioners {width:100%; margin-top:20px; max-width:300px; max-height:170px;}
nav p {font-size:0.9em;}
/*article*/
article {float:right; width:75%; padding-left:10px;}
article address {font-style:normal; font-weight:bold;}
article small {font-size:smaller;}
#index ul {list-style-image:url('images/bluetick.gif');}
#links ul {list-style-image:none;}
#red {color:red; font-size:larger;}
#constitution ol {list-style-type:lower-alpha;}
#news ol {list-style-type:decimal;}
#smallbold {font-size:smaller; font-weight:bold;}
#textcenter {text-align:center;}
#form td {vertical-align:top;}
#form {border-spacing:3em 0.5em;}

/*aside*/
aside {font-size:larger; text-align:center; color:red; background:silver;}

/* footer */
footer {clear: both; border-top:1px solid black; border-bottom:1px solid black;}
footer p {text-align:center; font-weight:bold; color:black; font-size:.7em;}

/*end*/